<div class="alert alert-warning full-height">

  <button class="btn btn-secondary btn-block" [routerLink]="['/home']">Home</button>

  <button class="btn btn-secondary btn-block" [routerLink]="['/contact-list']">Contact List</button>

  <button class="btn btn-secondary btn-block" [routerLink]="['/add-contact-tdf']">Add contact (Template-driven)</button>

  <button class="btn btn-secondary btn-block" [routerLink]="['/add-contact-rf']">Add contact (Reactive)</button>

  <button class="btn btn-secondary btn-block">...</button>

</div>
